.pelota {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*
  transition-property: Qué quieres cambiar
  transition-duration: Cuánto va durar
  transition-delay: Cuánto va demorar en ejecutar
  transition-timing-function: ease --> Por defecto
  */
  transition-duration: 1s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pelota.a {
  background-color: red;
  left: 0;
  color: red;
}

.pelota.b {
  background-color: blue;
  right: 0;
  color: blue;
}

.canasta {
  position: relative;
  height: 100px;
  width: 100%;
  /*
    transform: rotar - sesgar - posición - tamaño;
  */
  transform: rotate(5deg) skew(10deg) translate(100px) scale(1.5);
  /*
    transform: rotate3d(X , Y , Z, 45deq);
    transform: translate3d(Xpx , Ypx , Zpx);
    transform: translate() - Mover el objeto
    perspective: px;
    perspective-origin: x y;
    perspective-origin: top; -De qué lado ver -
    (Se pueden usar dos lados)
    transform: trasnlateX - Y - Z
    Los conceptos de 3d  se aplican para todos los transform
    transform: scale(x , y);
    transform: skew(x , y);
  */

}

.canasta:hover .pelota {
  color: white;
}

.canasta:hover .pelota.a.uno {
  left: calc(50% - 100px);
}

.canasta:hover .pelota.b.uno {
  right: calc(50% - 100px);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
